{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/artists_detail.css' %}">
<div class="container mt-5">
    <!-- Artist Info -->
    <div class="card mb-3 shadow">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ artist.photo }}" class="img-fluid rounded-start" alt="{{ artist.name }}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">{{ artist.name }}</h2>
                    <p class="card-text"><small class="text-muted">{{ artist.genre }}</small></p>
                    <p class="card-text">{{ artist.bio }}</p>
                </div>
            </div>
        </div>
    </div>
    
    {% if top_tracks %}
    <h3 class="top-tracks-title">Top Tracks</h3>
    <div class="top-tracks">
        {% for track in top_tracks %}
        <div class="track">
            <div class="track-info">
                <h4>{{ track.name }}</h4>
                <p>{{ track.album }} | Released on {{ track.release_date }}</p>
            </div>
            <audio controls>
                <source src="{{ track.preview_url }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>
        {% empty %}
        <p>No top tracks to display.</p>
        {% endfor %}
    </div>
    {% else %}
        <p>This artist's top tracks are not available at the moment.</p>
    {% endif %}

    <!-- Albums Carousel -->
    <h3 class="albums-title">Albums</h3>
    <div id="albumsCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for album in artist.albums.all %}
            <div class="carousel-item{% if forloop.first %} active{% endif %}">
                <img src="{{ album.cover_url }}" class="d-block w-100" alt="{{ album.name }}">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ album.name }}</h5>
                    <p>{{ album.genre }} (Released on {{ album.release_date }})</p>
                    <!-- Favorite button -->
                    {% if album in request.user.userprofile.favorite_albums.all %}
                    <a href="{% url 'remove-album-from-favorites' album.id %}" class="btn btn-danger albums-favorite-toggle" data-album-id="{{ album.id }}" data-add-url="{% url 'add-album-to-favorites' album.id %}" data-remove-url="{% url 'remove-album-from-favorites' album.id %}">
                        ★
                    </a>
                    {% else %}
                    <a href="{% url 'add-album-to-favorites' album.id %}" class="btn btn-primary albums-favorite-toggle" data-album-id="{{ album.id }}" data-add-url="{% url 'add-album-to-favorites' album.id %}" data-remove-url="{% url 'remove-album-from-favorites' album.id %}">
                        ☆
                    </a>
                    {% endif %}
                    </div>
            </div>
            {% endfor %}
        </div>
        <!-- Previous Control -->
        <a class="carousel-control-prev" href="#albumsCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true">&#10094;</span> <!-- Unicode arrow -->
            <span class="visually-hidden">Previous</span>
        </a>

        <!-- Next Control -->
        <a class="carousel-control-next" href="#albumsCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true">&#10095;</span> <!-- Unicode arrow -->
            <span class="visually-hidden">Next</span>
        </a>
    </div>

    <!-- Related Artists Section -->
    <div class="related-artists">
        <h3>Related Artists</h3>
        <div class="artists-grid">
            {% for artist in related_artists %}
            <div class="artist-card">
                {% if artist.image_url %}
                <a href="{{ artist.spotify_album_url }}" target="_blank">
                    <img src="{{ artist.image_url }}" alt="{{ artist.name }}" class="artist-album-cover" />
                </a>
                {% endif %}
                <h4>{{ artist.name }}</h4>
            </div>
            {% empty %}
            <p>No related artists found.</p>
            {% endfor %}
        </div>
    </div>
    
    <!-- Upcoming Events -->
    <h3>Upcoming Events</h3>
    <div class="card card-body mb-3 shadow">
        <ul class="list-unstyled">
            {% for event in artist.events.all %}
            <li>{{ event.description }} at {{ event.location }} on {{ event.date }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
{% block additional_scripts %}
<script src="{% static 'js/favorite_albums.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock additional_scripts %}