{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/artists.css' %}">
<div class="container mt-5">
    <h1 class="mb-4 text-secondary text-center">Artists</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for artist in artists %}
        <div class="col">
            <div class="card h-100 shadow-sm artist-card">
                <div class="artist-img-container">
                    <img src="{{ artist.photo }}" class="card-img-top artist-img" alt="{{ artist.name }}">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">{{ artist.name }}</h5>
                    <p class="card-subtitle mb-2 text-muted">{{ artist.genre }}</p>
                    <p class="card-text">{{ artist.bio }}</p>
                </div>
                <div class="card-footer bg-white text-center">
                    <a href="{% url 'artist_detail' artist.id %}" class="btn btn-outline-secondary btn-view-details">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
