{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
<div class="contact-container">
  <!-- Subscription Section -->
  <div class="contact-section">
    <h2>Updates</h2>
    <form id="subscribeForm" class="contact-form" method="post" action="{% url 'subscribe' %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" name="email" class="form-control" id="email" placeholder="Enter your email" required>
      </div>
      <button type="submit" class="btn btn-primary">Subscribe</button>
    </form>
  </div>

  <!-- Follow Section -->
  <div class="contact-section">
    <h2>Follow Us</h2>
    <ul class="social-links">
      <li><a href="https://www.facebook.com/profile.php?id=61558488683954" target="_blank">Facebook</a></li>
      <li><a href="https://www.instagram.com/" target="_blank">Instagram</a></li>
      <li><a href="https://www.linkedin.com/in/tarantula-wis-269148303/" target="_blank">LinkedIn</a></li>
    </ul>
  </div>
  <!-- Address Section -->
  <div class="contact-section">
    <h2>Address</h2>
    <p>Rue Wiertz 60</p>
    <p>1047 Bruxelles</p>
    <p>Belgium</p>
    
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/contact.js' %}"></script>
{% endblock %}
