{% extends 'base.html' %}
{% load static %}

{% block content %}
<link href="{% static 'css/events.css' %}" rel="stylesheet">
<div class="main-container">
    <div class="header">
        <h1>Events</h1>
    </div>
    <!-- Filter Section -->
    <div class="container mt-4">
        <form method="GET" action="{% url 'events' %}">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="artist">Artist</label>
                    <select id="artist" name="artist" class="form-control">
                        <option value="">All Artists</option>
                        {% for artist in artists %}
                        <option value="{{ artist.id }}">{{ artist.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="location">Location</label>
                    <select id="location" name="location" class="form-control">
                        <option value="">All Locations</option>
                        {% for loc in locations %}
                        <option value="{{ loc }}">{{ loc }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="time">Month</label>
                    <select id="time" name="time" class="form-control">
                        <option value="">All Months</option>
                        {% for month in times %}
                        <option value="{{ forloop.counter }}">{{ month }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3 d-flex align-items-end">
                    <button type="submit" class="btn btn-primary w-100">Filter</button>
                </div>
            </div>
        </form>
    </div>
    <!-- Event Section -->
    <div id="filteredEventsSection" class="container mt-4">
        <div class="container container-border">
            {% for event in events %}
            <div class="row mb-3">
                <div class="col-sm-2 align-self-center">
                    <img src="{{ event.photo }}" class="event-image">
                </div>
                <div class="col-sm-2 align-self-center">
                    <div class="date-container">
                        <span class="day">{{ event.date.day }}</span>
                        <span class="month">{{ event.date|date:"F" }}</span>
                    </div>
                </div>
                <div class="col-sm-4 align-self-center">
                    <div class="event-info">
                        <div class="event-content">
                            <p><a href="#" class="artist-link">{{ event.artist_name }}</a></p>
                            <p class="location">{{ event.location }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 align-self-center text-end">
                    <button class="btn btn-outline-primary view-details"
                        onclick="location.href='{% url 'event_detail' event.id %}'">View Show</button>
                    {% if event in request.user.userprofile.upcoming_events.all %}
                        <button class="btn btn-outline-secondary view-details" onclick="location.href='{% url 'remove_from_upcoming' event.id %}'">Remove from Upcoming</button>
                    {% else %}
                        <button class="btn btn-outline-secondary view-details" onclick="location.href='{% url 'add_to_upcoming' event.id %}'">Add to Upcoming</button>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
