{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<!-- Featured Artists Section -->
<section id="featured-artists">
    <h2>Featured Artists</h2>
    <div class="artist-list">
        {% for artist in latest_artists %}
        <div class="artist">
            <img src="{{ artist.photo }}" alt="{{ artist.name }}">
            <h4>{{ artist.name }}</h4>
            <p>Genre: {{ artist.genre }}</p>
            <p>{{ artist.bio }}</p>
            <a href="{% url 'artist_detail' artist.id %}" class="btn btn-primary">Learn More</a>
        </div>
        {% empty %}
        <p>No artists found.</p>
        {% endfor %}
    </div>
</section>
<!-- Latest Releases Section -->
<section id="latest-releases">
    <h2>Latest Releases</h2>
    <div class="release-list">
        {% for release in latest_releases %}
        <div class="release">
            <img src="{{ release.cover_url }}" alt="{{ release.name }}">
            <h4>{{ release.name }}</h4>
            <p>By: {{ release.artist }}</p>
            <p>Released: {{ release.release_date }}</p>
            <a href="{{ release.spotify_url }}" class="btn btn-primary" target="_blank">Listen on Spotify</a>
        </div>
        {% empty %}
        <p>No new releases found.</p>
        {% endfor %}
    </div>
</section>
<!-- Latest Albums Section -->
<section id="latest-albums">
    <h2>Latest Albums</h2>
    <div class="album-list">
        {% for album in latest_albums %}
        <div class="album">
            <a href="{{ album.spotify_url }}" target="_blank">
                <img src="{{ album.cover_url }}" alt="{{ album.name }}">
                <h4>{{ album.name }}</h4>
            </a>
            <p>Released by: {{ album.artist__name }}</p>
            <p>Release Date: {{ album.release_date }}</p>
        </div>
        {% empty %}
        <p>No albums found.</p>
        {% endfor %}
    </div>
</section>
<!-- Top Tracks Section -->
<section id="top-tracks">
    <h2>Top Tracks</h2>
    <div class="track-list">
        {% for track in top_tracks %}
        <div class="track">
            <div class="track-content">
                <h4>{{ track.name }}</h4>
                <p>By: {{ track.artist }}</p>
                <p>Playcount: {{ track.playcount }}</p>
                <p>Listeners: {{ track.listeners }}</p>
                <a href="{{ track.url }}" target="_blank" class="btn btn-primary">Listen on Last.fm</a>
            </div>
        </div>
        {% empty %}
        <p>No top tracks found.</p>
        {% endfor %}
    </div>
</section>
<!-- News & Announcements Section -->
<section id="news-announcements">
    <h2>News & Announcements</h2>
    <div class="news-list">
        {% for news in news_list %}
        <div class="news-card">
            <h4>{{ news.title }}</h4>
            <!-- <p>{{ news.content|truncatewords:30 }}</p> -->
            <p>Published on: {{ news.publication_date|date:"Y-m-d" }}</p>
            <!-- <img src="{{ news.image_url}}"> -->
            <a href="{% url 'news_detail' news.id %}" class="btn btn-primary">Read More</a>
        </div>
        {% empty %}
        <p>No news available.</p>
        {% endfor %}
    </div>
</section>

{% endblock %}
