{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/news_detail.css' %}">
<div class="container mt-5">
    <div class="news-detail-card">
        {% if object.image_url %}
        <img src="{{ object.image_url }}" class="news-detail-image" alt="{{ object.title }}">
        {% endif %}
        <h1>{{ object.title }}</h1>
        <div class="news-detail-content">
            {{ object.content|linebreaks }}
        </div>
        <p class="news-detail-date">Published on: {{ object.publication_date|date:"Y-m-d" }}</p>
    </div>
</div>
{% endblock %}
