{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<div class="profile-container">
    <div class="profile-picture">
        <img src="{{ user.userprofile.profile_picture.url }}" alt="Profile picture">
    </div>
    <div class="profile-info">
        <h3>{{ user.username }}</h3>
        <p>{{ user.userprofile.bio }}</p>
        <p><strong>Website:</strong> <a href="{{ user.userprofile.website }}">{{ user.userprofile.website }}</a></p>
        <p><strong>Genre:</strong> {{ user.userprofile.genre }}</p>
        <p><strong>Instruments:</strong> {{ user.userprofile.instruments }}</p>
        <p><strong>Record Label:</strong> {{ user.userprofile.record_label }}</p>
        <p><strong>Social Media Reach:</strong> {{ user.userprofile.social_media_reach }}</p>
        <p><strong>Years Active:</strong> {{ user.userprofile.years_active }}</p>
        <p><strong>Upcoming Events:</strong> {{ user.userprofile.upcoming_events }}</p>
        <p><strong>Recent Albums:</strong> {{ user.userprofile.recent_albums }}</p>
        <p><strong>Favorite Artists:</strong> {{ user.userprofile.favorite_artists }}</p>
        <p><strong>Favorite Albums:</strong> {{ user.userprofile.favorite_albums }}</p>
        <div class="social-media-links">
            {% if user.userprofile.instagram_link %}
                <a href="{{ user.userprofile.instagram_link }}"><img src="{% static 'images/instagram-icon.png' %}" alt="Instagram"></a>
            {% endif %}
            {% if user.userprofile.spotify_link %}
                <a href="{{ user.userprofile.spotify_link }}"><img src="{% static 'images/spotify-icon.png' %}" alt="Spotify"></a>
            {% endif %}
            {% if user.userprofile.twitter_link %}
                <a href="{{ user.userprofile.twitter_link }}"><img src="{% static 'images/x-icon.png' %}" alt="Twitter"></a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
