body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
    padding-top: 20px;
}

#featured-artists, #latest-releases, #latest-albums, #news-announcements, #top-tracks {
    background-color: #fff;
    padding: 20px 30px;
    margin: 20px 20px;
    width: calc(100% - 40px);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#featured-artists h2, #latest-releases h2, #latest-albums h2, #news-announcements h2, #top-tracks h2  {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.artist-list, .release-list, .album-list, .news-list, .track-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.album {
    display: block;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    text-align: center;
    color: #333;
    text-decoration: none;
}

.album a {
    text-decoration: none;
    color: inherit;
}

.album:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    color: #333;
}

.album-card {
    text-decoration: none;
    color: inherit;
}

.artist, .release, .album, .track {
    flex: 0 1 22%;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 100%;
}

.artist img, .release img, .album img {
    max-height: 150px;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.artist h4, .artist p, .release h4, .release p, .album h4, .album p, .track h4, .track p {
    color: #333;
    font-size: 14px;
    margin: 5px 0;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.artist:hover, .release:hover, .album:hover, .track:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    z-index: 10;
}

@media (min-width: 1200px) {
    #featured-artists, #latest-releases, #latest-albums, #news-announcements, #top-tracks {
        margin: 40px 10px;
    }
}

@media (max-width: 1200px) {
    .artist, .release, .album, .track {
        flex: 0 1 45%;
    }
}

@media (max-width: 768px) {
    .artist, .release, .album, .track {
        flex: 0 1 90%;
    }
}

@media (max-width: 768px) {
    #featured-artists, #latest-releases, #latest-albums, #news-announcements, #top-tracks  {
        margin: 20px 10px;
    }

    .artist, .release, .track {
        flex: 0 1 90%;
    }
}

/* New styles for news cards */

.news-card {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    width: 100%;
    text-align: left; /* Ensure content is left-aligned */
}

.news-card h4 {
    color: #333;
    font-size: 1.5em;
    margin: 0 0 10px;
    line-height: 1.3;
    width: 100%;
    display: block; /* Ensure headline starts on a new line */
    text-align: left; /* Ensure headline is left-aligned */
}

.news-card p {
    color: #666;
    font-size: 0.9em;
    margin: 5px 0;
    text-align: left; /* Ensure text is left-aligned */
}

.news-card .btn-primary {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 0.9em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.news-card .btn-primary:hover {
    background-color: #0056b3;
}

.news-list {
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 20px;
}

/* Add this if you want a smooth scroll effect */
html {
    scroll-behavior: smooth;
}