.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.personal-info, .details {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin: 10px 0;
  width: 80%;
  max-width: 960px;
}

.personal-info h2, .details h3 {
  color: #333;
}

.personal-info a, .details a {
  color: #007bff;
  text-decoration: none;
}

.social-links img {
  width: 32px;
  height: 32px;
  margin: 0 10px;
  object-fit: contain;
}

.social-links {
  display: flex;
  justify-content: center;
}

.details h3 {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.details .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
  width: 100%;
}

.event-section, .artist-section, .album-section {
  background-color: #f7f7f7;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.album-section {
  grid-column: 1 / -1;
}

.album-section h3 {
  text-align: center;
}

.event-list, .artist-list, .album-list {
  list-style-type: none;
  padding: 0;
}

.event-list li, .artist-list li, .album-list li {
  padding: 10px;
  border-bottom: 1px solid #eaeaea;
}

.event-list li:last-child, .artist-list li:last-child, .album-list li:last-child {
  border-bottom: none;
}

.event-date {
  font-weight: bold;
  margin-right: 10px;
}

.artist-name {
  font-weight: bold;
  margin-right: 10px;
}

.album-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.album-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.album-list img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.album-list img:hover {
  transform: scale(1.05);
}

.album-title {
  text-align: center;
  width: 100%;
  padding: 10px 0;
}

.edit-profile-btn {
  display: inline-block;
  background-color: #007bff !important;
  color: #ffffff !important;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none !important;
  transition: background-color 0.2s;
}

.edit-profile-btn:hover, .edit-profile-btn:focus {
  background-color: #0056b3 !important;
  color: #ffffff !important;
  text-decoration: none !important;
}

.event-link {
  color: #333 !important;
  text-decoration:none !important;
  transition: color 0.3s ease;
}

.event-link:hover, event-link:focus {
  color: #555 !important;
  text-decoration: underline !important;
}

@media (max-width: 768px) {
  .details .container {
    grid-template-columns: 1fr;
  }
}
